.card {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);

    box-shadow: 10px 5px 5px 4px rgba(32, 32, 32, 0.4);

    h3 {
        font-weight: normal;
        font-size: 2rem;
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-weight: bold;
        font-size: 3rem;
    }

    &.total {
        background: #49aa26;
        color: #fff;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        box-shadow: none;
    }
}
